<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 class="clearfix">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p> Rented books : 
          <% @user.rents.each do |u|%>
            <ul>
              <li> 
                <%= u.book.name %>
                  <% if current_user == @user && current_user != nil%>
                    <%= link_to "Give back", rent_url(u), method: :delete, class: "btn btn btn-primary rent-button" %>
                  <% end %>

              </li>
            </ul>
          <% end %>
      </p>
    </section>
  </aside>
</div>