<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p> Rented books : 
          <ul>
            <% @user.rents.each do |u|%>
              <li> <%= u.name %></li>
            <% end %>
          </ul>
      </p>
    </section>
  </aside>
</div>