<% provide(:title, 'Avaiable books') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 style="margin-bottom: 30px "> Avaiable books :</h1>
      <ul>
        <% @books.each do |u| %>
          <h1 class = "clearfix" >
            	<div class = "show_books_to_rent" >
            		<li> 
                  <h4> Title: <%= link_to u.name, u %> </h4>
            		  <h5> Author: <%= u.author %> </h5>
                </li>
            	</div>
          </h1>
        <% end %>
      </ul>
    </section>
  </aside>
</div>  