<% provide(:title, 'Avaiable books') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 style="margin-bottom: 30px "> Avaiable books :</h1>
      <ul>
        <% @books.each do |u| %>
          <h1 class = "clearfix" >
            	<div class = "show_books_to_rent" >
            		<li> 
                  <%= link_to u.name, u %>
            		  <% if signed_in? && !Rent.exists?(user: current_user, book: u) %>
                  <%= link_to "Rent", {:controller => "rents", :action => "create", :rent => { :book_id => u.id } }, :method=> :post, class: "btn btn btn-primary rent-button"%>
                  <% end %>
                </li>
            	</div>
          </h1>
        <% end %>
      </ul>
    </section>
  </aside>
</div>  