<% provide(:title, 'All avaiable books') %>
<div class="row">
  <aside class="span4">
    <section>
      <% @books.each do |u| %>
        <h1 class = "clearfix">
          	<div class = "show_books_to_rent">
          		<%= link_to u.name, u %>
          		<% if signed_in? %>
		          	<%= link_to "Rent", '#',  class: "btn btn btn-primary rent-button"
		          	 %>
          	</div>
          <% end %>
        </h1>
      <% end %>
    </section>
  </aside>
</div>