<% provide(:title, 'All avaiable books') %>
<div class="row">
  <aside class="span4">
    <section>
      <% @books.each do |u| %>
        <h1 class = "clearfix">
          	<div class = "show_books_to_rent">
          		<%= link_to u.name, u %>
          		<% if signed_in? && !Rent.exists?(user: current_user, book: u) %>
                <%= link_to "Rent", {:controller => "rents", :action => "create", :rent => { :book_id => u.id } }, :method=> :post, class: "btn btn btn-primary rent-button"%>

              <% end %>
          	</div>
        </h1>
      <% end %>
    </section>
  </aside>
</div>  