<% provide(:title, 'All avaiable books') %>
<div class="row">
  <aside class="span4">
    <section>
      <% @books.each do |u| %>
        <h1 class = "clearfix">
          <%= link_to u.name, u %>
        </h1>
      <% end %>
    </section>
  </aside>
</div>