<% provide(:title, @book.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @book.name %>
        <%= image_tag @book.cover.url(:square) %>
      </h1>
      	
    </section>
  </aside>
</div>