<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "All Users",    users_path %></li>
          <li><%= link_to "Avaiable books", books_path %></li>
          <li><%= link_to "Sign in", login_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header> 
